<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
            name="Feature.MetadataExtended"
            description="SXA MetadataExtended definition items"
            patch:after="configuration[@name='Foundation.Serialization']">

          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" />
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />

          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="Renderings" database="master" path="/sitecore/Layout/Renderings/$(layer)/$(module)" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>